body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(back.png) ;text-emphasis: a;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

html,body{
    margin:0px;
    padding:0px;
    height:100%;
    
}

ul{
    list-style-type:none;
    float: right;
}

ul li {
    display:inline-block;
    padding:6px;
    justify-content:space-around;
    margin:5px;
    position: relative;
}
ul li a::after{
content:'';
height:2px;
display:block;
width:0%;
background:rgb(244, 242, 239);
left:0;
right:0;
bottom:-6px;
position: absolute;
transition: width 0.5s;
}

ul li a:hover::after{
    width: 100%;
}

ul li a {
    text-decoration: none;
    color:aliceblue;
}

.img{
 height: fit-content;
 width:70px;
 margin:5px 4px;
}
.main{
    color:aliceblue;
   
    margin:150px;
    text-align: center;
}


button{
   
    cursor:pointer;
    padding:8px;
    width:80px;
    font-weight: bold;
    border:3px transparent white;
    border-radius: 2px;
}

button:hover{
    background-color: rgb(91, 92, 94);
    color:rgb(249, 243, 243);
    font-weight: bold;
    transition:2s;
    padding:8px;
    width:80px;
    border:3px transparent white;
    border-radius: 2px;
}